<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <%= link_to case result
                   when Address
                     result.full_address
                   when School
                     result.school
                   when Park
                     result.park_name
                   end, polymorphic_path(result) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found for "<%= @query %>"</p>
<% end %>

# <h1>Search Results</h1>
