<h1>About Winnipeg Data Explorer</h1>
<p>This application uses data from the following sources:</p>
<ul>
<li><a href="https://data.winnipeg.ca/resource/cam2-ii3u.json">Winnipeg Address API</a></li>
<li><a href="https://data.winnipeg.ca/resource/5298-dhjx.json">Winnipeg School Zone Signage API</a></li>
<li><a href="https://data.winnipeg.ca/resource/tx3d-pfxq.json">Winnipeg Parks and Open Space API</a></li>
</ul>
<p>Data is structured as follows:</p>
<img src="https://gcdnb.pbrd.co/images/WaNsVthzBosp.png?o=1" alt="ERD Diagram">
