<h2>Addresses</h2>
<p>Show some address information</p>
<% @addresses.each do |address| %>
  <div class="row">
    <div class="mt-4 col">
      <h4><%= link_to address.full_address, address_path(address) %></h4>
      <% if address.neighbourhood.present? %>
        <p>Neighbourhood: <%= address.neighbourhood %></p>
      <% end %>
      <p>Street Name: <%= link_to address.street_name, search_schools_path(street_name: address.street_name) %></p>
    </div>
  </div>
<% end %>

<%= paginate @addresses %>
