<h1>About Winnipeg Data Explorer</h1>
<p>This application uses data from the following sources:</p>
<ul>
  <li>Winnipeg Address API</li>
  <li>Winnipeg School Zone Signage API</li>
  <li>Winnipeg Parks and Open Space API</li>
</ul>
<p>Data is structured as follows:</p>
<img src="https://ibb.co/2M5c06D" alt="ERD Diagram">
